# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
ipch/
*.ipch
x64/
x86/
Debug/
Release/

# Compiled outputs
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj

# Backup files
*.bak

# Installer output
installer/Setup_*.exe
installer/content/*.exe
installer/content/*.dll

# Logs
*.log
